.nav ul>li {
    cursor: pointer;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom right, #ff00ff, #00ffff);
    border: #93f3f3;
    border-radius: 50px;
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: 72px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    flex-grow: 1;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20px;
    cursor: pointer;
}

.toggleButton {
    display: none;
    /* Hide the toggle button by default on desktop */
}

@media (max-width: 768px) {
    .nav {
        position: relative;
    }
    .toggleButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;        
        /* Show the toggle button on mobile */
        background: none;
        border: none;
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-color: aqua;

    }

    .toggleButton span {
        display: block;
        border: white;
        border-radius: 50px;
        height: 2px;
        background-color: white;
        width: 100%;
    }
    .nav.open ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        right: 10px;
        top: 72px;
    }

    .nav.open li {
        margin: 10px 0;
    }

    ul:not(.open) {
        display: none;
    }
}